<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product Comments</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>
    </head>
    <body>

        <main class="container" ng-app="commentsApp" ng-controller="commentController">
            <section>
                <img src="img/super-bass-o-matic-76.jpg" alt="product picture" class="product-picture">
                <h1>The Super Bass-o-Matic '76</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cumque deserunt ullam repudiandae nisi corporis! Ipsum, ducimus commodi, itaque porro distinctio consequuntur! Autem doloremque numquam nemo ex nulla tempora quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nihil doloribus excepturi quisquam error possimus veritatis facere, commodi cumque ab atque dolore ducimus obcaecati ipsa, impedit! Consequuntur, eligendi iure cumque!</p>
            </section>

            <section>
                <h2>Add a Comment</h2>
               

                <form ng-submit="addComment(newComment)">
                <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Your User Name" required ng-model="newComment.name">
                </div>
                <div class="form-group">
                    <label for="title">Comment Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Comment Title" required ng-model="newComment.title">
                </div>
                <div class="form-group">
                       <label for="rating">Rating</label>
                             <rating id="rating" max="5" ng-model="newComment.rating"></rating>
                </div>
                  <div class="form-group">
                    <label for="body">Comment</label>
                    <textarea class="form-control" rows="3" id="body" placeholder="Your Comment" required ng-model="newComment.body"></textarea>
                  </div>


                  <button type="submit" class="btn btn-default">Submit</button>
                </form>


            </section>

            <section>
                <h2 id="printedComments">Comments</h2>
                 
                 <p id="placeholder" ng-if="comment && comment.length == 0">No comments yet. Be the first to review this!</p>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Rating</th>
                            <th>Comment Title</th>
                            <th>Comment</th>
                            <th>Author</th>
                            <th>Vote</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="comment in comment">
                            <td ng-class="{rating: comment.rating}">{{comment.rating}}</td>
                            <td ng-class="{title: comment.title}">{{comment.title}}</td>
                            <td ng-class="{body: comment.body}">{{comment.body}}</td>
                            <td ng-class="{name: comment.name}">{{comment.name}}</td>


                            <td>
                                <input type="image" id="agree" src="img/yes-smiley.gif" alt="Agree"  ng-click="increaseRank(comment, 1)"/>
                            
                                <input type="image" id="disagree" src="img/dislike.jpg" alt="Disagree" ng-click="increaseRank(comment, -1)"/>
                            </td>
                            <td>
                                <input type="image" id="delete" src="img/delete.png" alt="Delete" ng-click="delete(comment)"/>
                            </td>

                        </tr>
                    </tbody>
                </table>

              

            </section>



        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>